html {
    height: 100%;
}

body {
    height: 100%;
}

.logo:hover {
    background-color:#fff !important;
}

.logo {
    height: 310px;
    margin-bottom: 0px;
    border-bottom: 1px solid #ddd;
}

#info_view {
    height: 100%;
}

#display_person_div {
    height: 100%;
}

#page_container {
    height: calc(100vh - 110px);
}