html {
    height: 100%;
}

body {
    height: 100%;
}

.logo:hover {
    background-color:#fff !important;
}

.logo {
    height: 310px;
    margin-bottom: 0px;
    border-bottom: 1px solid #ddd;
}

@media screen and (max-height: 768px) {
    .logo_img {
        width: 80%;
        margin-left:18%;
    }

    .logo {
        height: 245px;
        margin-bottom: 0px;
        border-bottom: 1px solid #ddd;
    }
}

.side-nav li:hover, .side-nav li.active {
    background-color: #ddd;
}

.page-title {
    padding-left: 10px;
    font-size: 32px;
}

#menu_button {
    line-height: 28px;
}

#info_view {
    height: 100%;
}

#display_person_div {
    height: 100%;
}

#page_container {
    height: calc(100vh - 110px);
}

.container_div {
    height: 100%;
}

.display_div {
    height: 100%;
}

.display_form {
    padding: 5px;
}

.display_form_footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.modal_right_button {
    float: right;
}

.modal_left_button {
    float: left;
}






