html {
    height: 100%;
}

body {
    height: 100%;
}

.logo:hover {
    background-color:#fff !important;
}

.logo {
    height: 310px;
    margin-bottom: 0px;
    border-bottom: 1px solid #ddd;
}

.logo_img {
    width:100%;
}

@media screen and (max-height: 768px) {
    .logo_img {
        width: 80%;
        margin-left: 10%;
    }

    .logo {
        height: 245px;
        margin-bottom: 0px;
        border-bottom: 1px solid #ddd;
    }
}

.side-nav li:hover, .side-nav li.active {
    background-color: #ddd;
}

.page-title {
    padding-left: 10px;
    font-size: 32px;
}

.h100 {
    height: 100%;
}

.view_tabs {
    width: 100%;
    overflow: hidden !important;
}

#menu_button {
    line-height: 28px;
}

#list_view {
    height: 100%;
}

#info_view {
    height: 100%;
}

#display_person_div {
    height: 100%;
}

#page_container {
    height: calc(100vh - 80px);
}

.container_div {
    height: 100%;
}

.display_card {
    padding: 5px;
}

.display_div {
    height: 100%;
}

.display_form {
    padding: 5px;
    position: absolute;
    width: 100%;
    top: 40px;
    bottom: 65px;
    overflow: scroll;
}

.display_form_footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.modal_right_button {
    float: right;
}

.modal_left_button {
    float: left;
}

.search_footer {
    position: absolute;
    bottom: 0px;
    width: 99%;
    padding-right: 10px;
}

#search_card {
    padding-top: 5px;
}

.search_div {
    overflow: scroll;
    position: absolute;
    bottom: 65px;
    top: 120px;
}

.create_footer {
    position: absolute;
    bottom: 0px;
    width: 99%;
    padding-right: 10px;
}

#create_card {
    padding-top: 5px;
}

.create_div {
    overflow: scroll;
    position: absolute;
    bottom: 65px;
    top: 120px;
}
